body {
    background-color: black;
    color: white;
}

div.card {
    border: 10px solid white;
    border-radius: 20px;
    background-color: chocolate;
    width: 200px;
    height: 350px;
    font-family: calibri;
    font-size: 600%;
    text-shadow: -6px 0px black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    
}

div#hand {
    border: 2px solid white;
    border-radius: 10px;
    display: flex;
    flex-flow: row wrap;
}